In [0]:
import sqlite3
import pandas as pd
import re


def create_conn():
    conn = sqlite3.connect(":memory:")
    return conn
    
def get_cursor(conn):
    return conn.cursor()
    
def create_table_students(schema, conn):
    creation_string = ''
    for k,v in schema.items():
        creation_string = creation_string + k + " " + v + ", "
    creation_string_f = creation_string[:len(creation_string)-2]
    try:
        cur = get_cursor(conn)
        cur.execute(f"""
        create table students 
        ({creation_string_f})
        """)
        print(f'Created table students with the schema: {creation_string_f}')
        conn.commit()
    except Exception as e:
        print(e)
        
def insert_records_into_students(records, conn):
        cols = list(records.keys())
        num_records = len(records[cols[0]])
        print(f"Going to Insert {num_records} record(s)")
        for i in range(num_records):
            record_string = ''
            for k in records.keys():
                record_string = record_string + str(records[k][i]) + "," 
                record_string_f = record_string[:len(record_string)-1]
            try:
                cur = get_cursor(conn)
                cur.execute(f"""
                insert into students values
                ({",".join(["?"] * len(cols))})
                """, tuple(record_string_f.split(',')))
                conn.commit()
                print(f"Record {str(i+1)} inserted: {record_string_f}")
            except Exception as e :
                print(f"Failed to insert record {str(i+1)}: {record_string_f}")
                print(e)
        print("-"*80)
                
def query_students_table(conn, query= None):
    if((query is None) or (len(re.sub(r"\s+", "", query)) == 0)):
        print(f"Displaying all records currently in the students table below")
        print(pd.read_sql_query("select * from students", con= conn))
    else:
        print(f"Below are the results of the custom query : {query}")
        try:
            print(pd.read_sql_query(query, con= conn))
        except Exception as e:
            print(f"Query failed. see the details below")
            print(e)
schema = {
     'roll_no' : 'integer',
     'name' : 'text',
     'subject': 'text', 
     'marks' : 'integer',
     'class': 'integer',
}

records = {
     'roll_no': [1, 2, 3, 4, 5, 2, 3, 4],
     'name': ['Rishabh', 'Abhishek', 'Rahul', 'Rohan', 'Rishabh', 'Abhishek', 'Rahul', 'Rohan'],
     'subject': ['ComputerScience', 'ComputerScience', 'ComputerScience', 'ComputerScience', 'Maths', 'Maths', 'Maths', 'Maths'], 
     'marks' : [95, 95, 90, 90, 94, 90, 89, 84], 
     'class': [12, 11, 11, 12, 12, 11, 11, 12]
}

def main():
    conn = create_conn()



    q = """ 

    """
    create_table_students(schema, conn)
    insert_records_into_students(records, conn)
    query_students_table(conn)
    query_students_table(conn, q)

    conn.close()


if(__name__ == '__main__'):
    main()

Questions

q1: topper for each class (having highest total marks combined)(with and without window functions)

q2: Find name of students with wrongly assigned roll_no(same class, same name, different roll_no)

q3: Validate num of records using a python fuction

q4: Implement update and delete methods

q5: create student class and make if so that the record for that student gets auto inserted into the table

Solutions

In [0]:
select name, class, max(total) as highest 
from
    ( select name, class, sum(marks) as total
    from 
    students
    group by 1, 2) sq1
group by 2 

    custom_q_with_join_and_cond = """
    select distinct name
    from
        (select s1.*, s2.*
        from 
        students s1 join students s2
        on s1.roll_no != s2.roll_no and s1.name = s2.name and s1.class = s2.class
        ) as sq
    """

    def delete_from_students_table(conn, stmnt= None):
    cur = get_cursor(conn)
    if(stmnt is None):
        print("No delete query provided. Deleting all records")
        cur.execute("""
        delete from students where 1=1
        """)
    else:
        cur.execute(stmnt)
    conn.commit()

    def update_students_table(conn, stmnt= None):
        cur = get_cursor(conn)
        if(stmnt is None):
            print("No query provided. Add query in update_q variable and pass it")
            return
        else:
            cur.execute(stmnt)
        conn.commit()

    custom_q_with_self_join_and_filter_after = """
    select distinct name
    from
        (select *
        from (
              select s1.*, s2.roll_no as s2_roll_no, s2.name as s2_name, s2.class as s2_class
              from 
              students s1 cross join students s2
              ) sq1
        where
        roll_no != s2_roll_no and name = s2_name and class = s2_class) sq2
    """

    delete_q = """
    delete from students
    where Name='Abhishek'
    """
    update_q = """
    update students
    set marks=100
    where Name='Rishabh'
    """
    
    create_table_students(schema, conn)
    insert_records_into_students(records, conn)
    query_students_table(conn)
    ts1 = time.time()
    query_students_table(conn, custom_q_with_join_and_cond)
    te1 = time.time()
    print(f"Time took to complete the above query was {(te1-ts1)*1000} ms ")
    ts2 = time.time()
    query_students_table(conn, custom_q_with_self_join_and_filter_after)
    te2 = time.time()
    print(f"Time took to complete the above query was {(te2-ts2)*1000} ms ")
    delete_from_students_table(conn, delete_q)
    query_students_table(conn)
    update_students_table(conn)
    update_students_table(conn, update_q)
    query_students_table(conn)
    delete_from_students_table(conn)
    query_students_table(conn)
    conn.close()
  class student:
    def __init__(self,conn, roll_no, name, subject, marks, clas):
        self.roll_no = roll_no
        self.name = name
        self.subject =subject
        self.marks = marks
        self.clas = clas
        record = {
         'roll_no': [self.roll_no],
         'name': [self.name],
         'subject': [self.subject], 
         'marks' : [self.marks], 
         'class': [self.clas]
        }
        insert_records_into_students(record, conn)
    def __repr__(self):
        return f"student(roll_no={self.roll_no}, name= {self.name}, subject={self.subject}, marks= {self.marks}, class={self.clas})"

In [0]:
import sqlite3
import pandas as pd
import re
import random
import pprint as pp

source_positions_data = {
    'acc_id' : [],
    'isin_code': [],
    'quantity' : [],
    'settlement_dt' : [],
    'currency' : []
}

target_positions_data = {
    'acc_id' : [],
    'isin_code': [],
    'quantity' : [],
    'settlement_dt' : [],
    'currency' : []
}

def generate_data(source_positions_data, no_of_records= 200):
    weights = [1, 2, 45, 1, 1, 1, 1, 1, 2, 45]
    qty = list(range(100, 1000, 200))
    qty.append(None)
    for dt in pd.date_range('2024-01-01', '2025-03-31', no_of_records):
        source_positions_data['settlement_dt'].append(dt.date())
    for _ in range(1, no_of_records+1):
        source_positions_data['acc_id']\
                .append("".join([str(d) for d in random.choices(list(range(0,10)), k=16, weights= weights)]))
        source_positions_data['currency'].append(random.choice(['USD', None, 'EUR', 'INR', 'AUD', 'GBP']))
        if(source_positions_data['currency'][-1] is not None):
            country_prefix = source_positions_data['currency'][-1][0:2]
            source_positions_data['isin_code']\
                .append(country_prefix + \
                        "".join([str(d) for d in random.choices(list(range(0,10)), k=10, weights= weights)]))
        else:
            source_positions_data['isin_code']\
                .append(None)
        source_positions_data['quantity'].append(random.choice(qty))

def create_conn():
    conn = sqlite3.connect(":memory:")
    return conn
    
def get_cursor(conn):
    return conn.cursor()

def create_target_positions_table(target_schema_str, conn):
    try:
        cur = get_cursor(conn)
        cur.execute(f"""
        create table target_positions 
        ({target_schema_str})
        """)
        print(f'Created table target_positions with the schema: {target_schema_str}')
        conn.commit()
    except Exception as e:
        print(e)
    
def write_to_target_positions_table(target_df, conn):
    try:
        return target_df.to_sql(name= 'target_positions', con= conn, if_exists= 'append', index= False)
    except Exception as e:
        print(e)
 
def query_target_positions_table(conn, query= None):
    if((query is None) or (len(re.sub(r"\s+", "", query)) == 0)):
        print(f"Displaying all records currently in the target_positions table below")
        print(pd.read_sql_query("select * from target_positions", con= conn))
    else:
        print(f"Below are the results of the custom query : {query}")
        try:
            print(pd.read_sql_query(query, con= conn))
        except Exception as e:
            print(f"Query failed due to {e} error")    
            
if __name__ == "__main__":
    conn = create_conn()
    
    target_schema_str = "acc_id text, isin_code text, quantity float, settlement_dt date, currency text"
    
    #fake data generation
    generate_data(source_positions_data, no_of_records= 1000)
    generate_data(target_positions_data, no_of_records= 10000)
    # pp.pprint(source_positions_data)
    
    source_df = pd.DataFrame(source_positions_data)
    target_df = pd.DataFrame(target_positions_data)
    
    create_target_positions_table(target_schema_str, conn)
    target_rows_written = write_to_target_positions_table(target_df, conn)
    print("target_rows_written: ", target_rows_written)
    
    #use the below variable for custom query against the target table
    q = """ 

    """
    
    query_target_positions_table(conn, q)
    
    conn.close()

Validation Rules:
- quantity	Must match exactly
- settlement_dt	Should be within 2 days between file and DB
- currency	If missing in file, default to 'USD' before comparing

Tasks:

1.SQL Task: Write SQL to extract target data with necessary fields.

2.Python Task: Using the file and DB data (mocked with pandas), join and:

- Apply the default rule for missing currency.
- Compare the quantity, settlement_dt, currency.
- Create a report with mismatches and reason for each mismatch (e.g., “settlement_dt > 2 days apart”).

In [0]:
import sqlite3
import pandas as pd
import re
import random
import pprint as pp
from concurrent.futures import as_completed, ProcessPoolExecutor

data = {
    'trade_type': [],
    'security_type' : [],
    'client_country' : [],
    'rate' : [],
    'units' : [],
    'flat_fee' : [],
}
def generate_data(data, no_of_records= 200):
    trade_type = ['BUY', 'SELL']
    security_type = ['EQ', 'DERIV', 'DEBT', 'HYBRID']
    client_country = ['US', 'EU', 'IN', 'AU', 'GB']
    rate = [round(0.1 + i * 0.05, 2) for i in range(int((0.5 - 0.1) / 0.05) + 1)]
    units = list(range(10, 101, 5))
    flat_fee = list(range(10, 50, 3))
    for _ in range(no_of_records):
        data['trade_type'].append(random.choice(trade_type))
        data['security_type'].append(random.choice(security_type))
        data['client_country'].append(random.choice(client_country))
        data['rate'].append(random.choice(rate))
        data['units'].append(random.choice(units))
        data['flat_fee'].append(random.choice(flat_fee))
        
def create_conn():
    conn = sqlite3.connect(":memory:")
    return conn
 
def get_cursor(conn):
    return conn.cursor()
    
def create_table(table_name, schema_str, conn):
    try:
        cur = get_cursor(conn)
        cur.execute(f"""
        create table {table_name} 
        ({schema_str})
        """)
        print(f'Created table {table_name} with the schema: {schema_str}')
        conn.commit()
    except Exception as e:
        print(f"Following exception occured when creating the table: ", e)
 
def write_to_table(df, table_name, conn):
    try:
        return df.to_sql(name= table_name, con= conn, if_exists= 'append', index= False)
    except Exception as e:
        print(e)
 
def query_table(conn, query= None, table_name= 'trades'):
    if((query is None) or (len(re.sub(r"\s+", "", query)) == 0)):
        return pd.read_sql_query(f"select * from {table_name}", con= conn)
    else:
        try:
            return pd.read_sql_query(query, con= conn)
        except Exception as e:
            print(f"Following exception occured when querying")    
            print(e)

def add_fee_amount_and_rule_applied_cols(df):
    fee_amount = []
    rule_applied = []
    for idx, row in df.iterrows():
        if row['trade_type'] == 'BUY' and row['security_type'] == 'EQ':
             fee_amount.append(row['rate'] * row['units'] * 1.18)
             rule_applied.append('R1')
        elif row['trade_type'] == 'SELL' and row['client_country'] != 'IN':
             fee_amount.append(row['rate'] * row['units'] * 1.12)
             rule_applied.append('R2')
        elif row['security_type'] == 'DERIV':
             fee_amount.append(row['flat_fee'])
             rule_applied.append('R3')
        else:
             fee_amount.append(0)
             rule_applied.append('R4')
    df['fee_amount'] = fee_amount
    df['rule_applied'] = rule_applied
    return df
    
def get_chunks_for_df(df, no_of_chunks):
    rows_per_chunk = int(len(df)/no_of_chunks)
    start_row = 0
    end_row = rows_per_chunk
    chunks = []
    
    for _ in range(no_of_chunks):
        chunks.append(df[start_row: end_row])
        start_row = end_row 
        end_row = rows_per_chunk * (_+ 1)
    if(len(df[start_row:])):
        chunks.append(df[start_row:])
    return chunks
    
def main():
    conn = create_conn()
    schema_str = """
    trade_type text, 
    security_type text, 
    client_country text, 
    rate real, 
    units integer,
    flat_fee integer
    """

    #fake data generation
    generate_data(data, no_of_records= 99)
    df = pd.DataFrame(data)
    create_table(table_name= 'trades', schema_str= schema_str, conn= conn)
    write_to_table(df, table_name= 'trades', conn= conn)
    #use the below variable for custom query against the target table
    q= """
    select * from trades
    """
    query_res_df = query_table(conn, query= q, table_name= 'trades')
    query_res_df.reset_index(inplace= True)
    query_res_df_renamed = query_res_df.rename(columns= {"index" : "row_no"})
    
    num_of_chunks = 4
    df_chunks = get_chunks_for_df(query_res_df_renamed, num_of_chunks)
        
    with ProcessPoolExecutor(num_of_chunks) as e:
        futures = [e.submit(add_fee_amount_and_rule_applied_cols, chunk) for chunk in df_chunks]
    df_results = []
    for res in as_completed(futures):
        df_results.append(res.result())
    
    print(pd.concat(df_results).sort_values(by= 'row_no'))
    conn.close()

main()

In [0]:
def add_fee_amount_and_rule_applied_cols(df):
    fee_amount = []
    rule_applied = []
    for idx, row in df.iterrows():
        if row['trade_type'] == 'BUY' and row['security_type'] == 'EQ':
             fee_amount.append(row['rate'] * row['units'] * 1.18)
             rule_applied.append('R1')
        elif row['trade_type'] == 'SELL' and row['client_country'] != 'IN':
             fee_amount.append(row['rate'] * row['units'] * 1.12)
             rule_applied.append('R2')
        elif row['security_type'] == 'DERIV':
             fee_amount.append(row['flat_fee'])
             rule_applied.append('R3')
        else:
             fee_amount.append(0)
             rule_applied.append('R4')
    df['fee_amount'] = fee_amount
    df['rule_applied'] = rule_applied
    return df
  
  q = """ 
    select *,
    case 
        when trade_type = 'BUY' and security_type = 'EQ' then rate * units * 1.18
        when trade_type = 'SELL' and client_country <> 'IN' then rate * units * 1.12
        when security_type = 'DERIV' then flat_fee
        else 0
    end as fee_amount,
    case 
        when trade_type = 'BUY' and security_type = 'EQ' then 'R1'
        when trade_type = 'SELL' and client_country <> 'IN' then 'R2'
        when security_type = 'DERIV' then 'R3'
        else 'R4'
    end as rule_applied
    from 
    trades
    """
    pd_transformed_df = add_fee_amount_and_rule_applied_cols(df)
    print(query_res_df.shape[0])
    print(query_res_df.shape[0] == pd_transformed_df.shape[0])
    print(
        query_res_df.merge(
                    pd_transformed_df
                    , on= ['fee_amount', 'rule_applied']
                    , how= 'left')
                    .query(" fee_amount.isnull() or rule_applied.isnull() ")
    )
    print(
        pd_transformed_df.merge(
                    query_res_df
                    , on= ['fee_amount', 'rule_applied']
                    , how= 'left')
                    .query(" fee_amount.isnull() or rule_applied.isnull() ")
    )
    print(query_res_df.equals(pd_transformed_df))

Background:

You are validating a calculated fee_amount in a staging table vs. a source table and rules are:

Rule #	Condition
- R1	If trade_type = 'BUY' and security_type = 'EQ', then fee_amount = rate * units * 1.18
- R2	If trade_type = 'SELL' and client_country != 'IN', then fee_amount = rate * units * 1.12
- R3	If security_type = 'DERIV', then fee_amount = flat_fee
- R4	If none of the above apply, fee_amount = 0

Tasks:

1.SQL Task: Write a query that implements the above rules and outputs fee_amount and a rule_applied column.

2.Python Task: Given a pandas.DataFrame with columns: trade_type, security_type, client_country, rate, units, flat_fee, write a function that:

- Applies the above logic row-wise.
- Adds fee_amount and rule_applied columns.
- Returns the dataframe.